/* Global styles across the app */

@import 'focus.css';
@import 'fonts.css';
@import 'input.css';
@import 'pitchBlack.css';
@import 'scrollbar.css';
@import 'surface.css';
@import 'table.css';
@import 'typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
